{% extends "main/base.html" %}

{% block title %}List Students{% endblock title %}

{% block content %}
	<h2>List Students</h2>
	{% if students %}
	<div class="pull-right">
		<b>Filter:</b>
		<div class="btn-group">
			<a id="filter-all" class="btn btn-default">All</a>
			<a class="btn btn-default" id="filter-can">Candidates</a>
			<a class="btn btn-default" id="filter-mem">Members</a>
		</div>
	</div>
	<table class="table table-hover sortable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Leadership Hours</th>
				<th>Service Hours</th>
				<th>Class</th>
				<th>Membership Status</th>
			</tr>
		</thead>
		<tbody>
			{% for s in students %}
				<tr class='student-row'>
					<td>{{s.get_full_name}}</td>
					<td class='led-hr'>{{s.user_profile.leadership_hours}}</td>
					<td class='srv-hr'>{{s.user_profile.service_hours}}</td>
					<td>{{s.user_profile.grad_class}}</td>
					<td class='member-status'>{{s.user_profile.get_membership_status_display}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{%else%}
	<br>No students found :/
	{% endif %}
{% endblock content %}

{% block scripts %}
	<style>
		tr.hidden {display:none;}
	</style>
	<script src='//cdn.jsdelivr.net/sorttable/2/sorttable.min.js'></script>
	<script>
	$(document).ready(function(){
		$('.student-row').filter(function(){
			if ($(this).children('.member-status').text() == "Candidate"){
				return parseFloat($(this).children('.led-hr').text()) >= {{led_can_min}} && parseFloat($(this).children('.srv-hr').text()) >= {{srv_can_min}}
			} else if ($(this).children('.member-status').text() == "Member"){
				return parseFloat($(this).children('.srv-hr').text()) >= {{srv_mem_min}}
			}			
		}).addClass('success')

		$('#filter-all').on('click', function(){
			$('tr').removeClass('hidden')
		})

		$('#filter-can').on('click', function(){
			$('tr').removeClass('hidden')
			$('tr').filter(function(){
				return $(this).children('.member-status').text() == "Member"
			}).addClass('hidden')
		})

		$('#filter-mem').on('click', function(){
			$('tr').removeClass('hidden')
			$('tr').filter(function(){
				return $(this).children('.member-status').text() == "Candidate"
			}).addClass('hidden')
		})
	})
	</script>
{% endblock scripts %}
