{%extends 'main/base.html'%}
{%load mytags%}

{%block title%}Report for {{user.get_full_name}}{%endblock%}

{% block content %}
	<h2>Report for {{user.get_full_name}}</h2>

	{%if events%}
	<table class='table table-hover sortable'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Organization</th>
				<th>Hours</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{%for event in events%}
			<tr class='{{ event|args:user|call:"row_class" }}'>
				<td><a href="{{event.detail_url}}">{{event.name}}</a></td>
				<td>{{event.date_start}}</td>
				{% if event.has_org_url %}
					<td><a href="{{event.organization.detail_url}}">{{event.getOrganization}}</a></td>
				{%else%}
					<td>{{event.getOrganization}}</td>
				{%endif%}
				<td class="hour-field">{{event.hours}} {{event.hour_type}}</td>
				<td class="status-field">{{event|args:user|call:"status"}}</td>
				{%if event.nhs_approved%}
					<td><div class="btn-div"><button data-type="{% if event.has_org_url %}event{%else%}userevent{%endif%}" data-event-id="{{event.id}}" class="approve-button btn btn-xs btn-danger">Disapprove</button></div></td>
				{%else%}
					<td><div class="btn-div"><button data-type="{% if event.has_org_url %}event{%else%}userevent{%endif%}" data-event-id="{{event.id}}" class="approve-button btn btn-xs btn-success">Approve</button></div></td>
				{%endif%}
			</tr>
			{%endfor%}
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><b>Total: </b>{{user.user_profile.service_hours}} SRV, {{user.user_profile.leadership_hours}} LED</td>
				<td></td>
				<td></td>
			</tr>
		</tfoot>
	</table>
	{%else%}
	No events found!
	{%endif%}
	<span style="display:none" id="userid">{{user.id}}</span>
{% endblock content %}

{% block scripts %}
	<script src="/static/js/approve_button.js"></script>
	<script src='//cdn.jsdelivr.net/sorttable/2/sorttable.min.js'></script>
{% endblock scripts %}
