{%extends 'main/base_login.html'%}
{%block title%}Sign Up{%endblock%}

{%block content%}
<form class="form-signin" action="" method="post">
	Hey! <a href='{%url "social:begin" "google-oauth2"%}' id="google-login" class="btn btn-sm btn-danger"><i class="fa fa-google-plus"></i> Login with Google</a>
	{%csrf_token%}
	<h2 class="form-signin-heading">Please sign up</h2>
	<div class="form-group">
		<input type="text" class="input-block-level form-control" placeholder="Username" name="username" {% if form.username.value %}value="{{form.username.value}}"{% endif %} required>
		<span class="help-block" id="username-help"></span>
	</div>
	<div class="form-group">
		<input type="password" class="input-block-level form-control" placeholder="Password" name="password1" required>
		<span class="help-block"></span>
	</div>
	<div class="form-group">
		<input type="password" class="input-block-level form-control" placeholder="Confirm password" name="password2" required>
		<span class="help-block" id="password-help"></span>
	</div>
	<div class="form-group">
		<input type="text" class="input-block-level form-control" placeholder="First name" name="first_name" {% if form.first_name.value %}value="{{form.first_name.value}}"{%endif%} required>
		<span class="help-block" id="password-help"></span>
	</div>
	<div class="form-group">
		<input type="text" class="input-block-level form-control" placeholder="Last name" name="last_name" {% if form.last_name.value %}value="{{form.last_name.value}}"{%endif%} required>
		<span class="help-block" id="password-help"></span>
	</div>
	<div class="form-group">
		<input type="email" class="input-block-level form-control" placeholder="Email" name="email" {% if form.email.value %}value="{{form.email.value}}"{%endif%} required>
		<span class="help-block" id="password-help"></span>
	</div>
	<div class="form-group">
		<label for="timezone-field">Timezone</label>
		<select name="timezone" id="timezone-field" class="form-control input-block-level">
			<option value="">-</option>
			<option value="America/New_York">America/New_York (Eastern)</option>
			<option value="America/Chicago">America/Chicago (Central)</option>
			<option value="America/Denver">America/Denver (Mountain)</option>
			<option value="America/Los_Angeles">America/Los_Angeles (Pacific)</option>
			<option value="">------------</option>
			{% for tz in timezones %}
				<option value="{{tz}}">{{tz}}</option>
			{% endfor %}
		</select>
		<span class="help-block" id="password-help"></span>
	</div>
	<div class="form-group">
		<label for="class-field">Graduating Class</label>
		<select name="grad_class" id="class-field" class="form-control input-block-level">
			<option value="">-</option>
			{% for y in years %}
				<option value="{{y}}">{{y}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<label>I am a...</label>
		<div class="radio" style="margin-top:0px">
			<label>
				<input type="radio" name="member_status" value="CAN"> NHS Candidate
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="member_status" value="MEM"> NHS Member
			</label>
		</div>
	</div>
	<label>
		reCAPTCHA
		<img src='http://placekitten.com/300/100'/>
	</label>
	<button class="btn btn-large btn-primary" type="submit">Sign up</button>
</form>
{%endblock%}

{%block script%}
<script>
	$(document).ready(function(){
		$('.alert').alert();
	})
</script>
<script src="/static/js/AjaxCSRF.js"></script>
<script src="/static/js/signup_validation.js"></script>
{%endblock%}
