{%extends 'main/base_login.html'%}
{%block title%}New User{%endblock%}

{%block content%}
<form class="form-signin" action="" method="post">
	{%csrf_token%}
	<h2>Hi.</h2>
	There are just a few things left to set up.
	<div class="form-group">
		<label for="timezone-field">Timezone</label>
		<select name="timezone" id="timezone-field" class="form-control input-block-level">
			<option value="">-</option>
			<option value="America/New_York">America/New_York (Eastern)</option>
			<option value="America/Chicago">America/Chicago (Central)</option>
			<option value="America/Denver">America/Denver (Mountain)</option>
			<option value="America/Los_Angeles">America/Los_Angeles (Pacific)</option>
			<option value="">------------</option>
			{% for tz in timezones %}
				<option value="{{tz}}">{{tz}}</option>
			{% endfor %}
		</select>
		<span class="help-block" id="password-help"></span>
	</div>
	<div class="form-group">
		<label for="class-field">Graduating Class</label>
		<select name="grad_class" id="class-field" class="form-control input-block-level">
			<option value="">-</option>
			{% for y in years %}
				<option value="{{y}}">{{y}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<label>I am a...</label>
		<div class="radio" style="margin-top:0px">
			<label>
				<input type="radio" name="member_status" value="CAN"> NHS Candidate
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="member_status" value="MEM"> NHS Member
			</label>
		</div>
	</div>
	<button class="btn btn-primary" type="submit">Save</button>
</form>
{%endblock%}
