{%extends 'main/base.html'%}

{%block title%}Event details for {{userevent.name}}{%endblock%}

{%block content%}
<div class='row-fluid'>
	<div class='col-lg-10'>
		<h2>{{userevent.name}}</h2>
		<h4>{{userevent.organization}}</h4>
		{{userevent.date_start}} to {{userevent.date_end}}<br/>
		User created event by {{userevent.user.get_full_name}}<br/>
		<b>Hours: </b><span id="hours">{{userevent.hours}} {{userevent.hour_type}}</span><br/>
		<b>Description: </b>{{userevent.description}}
		<hr/>
		<b>Location: </b>{{userevent.location}}<br/>
		{%if userevent.geo_lat%}
		<div id="map"></div>
		{%endif%}
	</div>
	{% if request.user == userevent.user %}
		<div class='button-div' class='col-lg-2'>
			<a id='delete-button' class='btn btn-danger'>Delete</a>
		</div>
	{%elif request.user.user_profile.is_nhs_admin%}
		{%if userevent.nhs_approved%}
		<div class='button-div' class='col-lg-2'>
			<a data-event-id="{{userevent.id}}" data-type="userevent" class='approve-button btn btn-danger'>Disapprove</a>
		</div>
		{%else%}
		<div class='button-div' class='col-lg-2'>
			<a data-event-id="{{userevent.id}}" data-type="userevent" class='approve-button btn btn-danger'>Disapprove</a>
		</div>
		{%endif%}
	{%endif%}
</div>
{%endblock%}

{%block scripts%}
<script src='http://maps.google.com/maps/api/js?sensor=false'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.4/gmaps.min.js'></script>
<script>
$(document).ready(function(){
	$('#browse-link').parent().addClass('active');

	var login_link = "{%url 'main:login'%}";

	{%if userevent.geo_lat%}

	map = new GMaps({
		div: '#map',
		lat: {{userevent.geo_lat}},
		lng: {{userevent.geo_lon}},
		zoom: 12,
	});

	map.addMarker({
		lat: {{userevent.geo_lat}},
		lng: {{userevent.geo_lon}},
		title: "{{userevent.location}}",
	})
	{%endif%}

	$('.button-div').on('click', '#delete-button', function(){
		var wantToDelete = confirm("Are you sure you want to delete this event?");
		if (wantToDelete){
			window.location = "delete?next={%url 'main:track'%}";
		}
	})
})
</script>
<script src="/static/js/approve_detail_button.js"></script>
{%endblock%}
